.wrap {
    width: 50%;
    float: right;
    -webkit-transition: none;
    transition: none;
}

[class^="btn-"] {
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    max-width: 250px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
}

.btn-7 {
    text-align: center;
    color: #2e7a8f;
    text-decoration: none;
    line-height: 80px;
}

.btn-7:before,
.btn-7:after,
.btn-7 span:before,
.btn-7 span:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    width: 63.5px;
    height: 0;
    background: #053b4a;
}

.btn-7:before {
    left: 0;
}

.btn-7:after {
    left: 125px;
}

.btn-7 span:before,
.btn-7 span:after {
    top: auto;
    bottom: 0;
}

.btn-7 span:before {
    left: 62.5px;
}

.btn-7 span:after {
    left: 187.5px;
}

.btn-7:hover {
    color: #c2d8de;
}

.btn-7:hover:before,
.btn-7:hover:after,
.btn-7:hover span:before,
.btn-7:hover span:after {
    height: 80px;
}

.btn-7:active {
    background: #09627b;
}
